@import "../../sass/mixins/mixins";
.partnerWrapper {
  @include dimensions(50%, 500px);
  @include flex(row, center, flex-start);
  flex-basis: 33.33%;
  &:not(:first-child) {
    padding-top: 9%;
  }

  @media only screen and (max-width: 1250px) {
    flex-basis: 50%;
  }
  @media only screen and (max-width: 905px) {
    width: 100%;
    height: 305px;
    object-fit: contain;
  }
  .partnerCard {
    @include dimensions(327px, 170px);
    position: relative;
    @media only screen and (max-width: 905px) {
      width: 100%;
      height: 305px;
    }
    img {
      @include dimensions(100%, 100%);
      display: flex;
      object-fit: cover;
      border-radius: 24px 2px;
      cursor: pointer;
    }
    div {
      @include dimensions(100%, 20%);
      @include flex(column, center, center);
      position: absolute;
      bottom: 0;
      background-color: rgba(var(--subForegroundColor), 0.8);
      border-bottom-right-radius: 24px;
      @include for-size(phone) {
        height: 20%;
      }
      @media only screen and (max-width: 400px) {
        height: 25%;
      }
      h4 {
        color: var(--mainText);
      }
      p {
        color: var(--secondaryText);
        font-size: 16px;
      }
    }
  }
}
