/* Imported Fonts */
@font-face {
  font-family: "Skia";
  src: local("Skia"), url(./assets/fonts/Skia\ Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url(./assets/fonts/Gilroy-Bold.woff) format("woff");
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: local("Gilroy-Heavy"),
    url(./assets/fonts/Gilroy-Heavy.woff) format("woff");
}
@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
    url(./assets/fonts/Gilroy-Light.woff) format("woff");
}

/* Color Variables */
/* mainBackgroundColor and subForegroundColor are not in a rgb() 
because the values will be placed in a rgba() later with a opacity value */
:root {
  --mainBackgroundColor: 24, 23, 25;
  --mainForegroundColor: rgb(39, 36, 44);
  --subForegroundColor: 61, 58, 65;
  --accent1: rgb(206, 70, 52);
  --accent2: rgb(216, 216, 217);
  --accent3: rgb(107, 107, 107);
  --mainText: rgb(254, 250, 250);
  --secondaryText: rgb(194, 187, 187);
  --buttonText: rgb(228, 78, 57);
  --textDark: rgb(24, 23, 25);
}

h1 {
  font-family: "Skia", sans-serif;
  font-size: 6rem;
  line-height: 105%;
}
h2 {
  font-family: "Skia", sans-serif;
  font-size: 5.33rem;
  line-height: 105%;
}
h3 {
  font-family: "Skia", sans-serif;
  font-size: 4rem;
  line-height: 120%;
}
h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.66rem;
  line-height: 120%;
}
h5 {
  font-family: "Gilroy-Heavy", sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
}
h6, button {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
}
body {
  font-family: "Gilroy-Light";
  font-size: 1.5rem;
  line-height: 125%;
}