.hiddenInput {
    display: none;
}
.fileUpload {
    color: var(--mainText) !important;
    font-family: "Gilroy-Bold", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px !important;
    line-height: 20px !important;
    letter-spacing: 0.8px !important;
}