@import "../../sass/mixins/mixins";
.headerBackgroundImage {
    @include dimensions(100%, 567.5px);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .headerTitle {
      position: absolute;
      bottom: 35%;
      right: 12.7%;
      color: var(--mainText);
      @include for-size(phone) {
          bottom: 28%;
      }
      h1 {
        letter-spacing: 4px;
        font-weight: 400 !important;
        @include for-size(phone) {
            font-size: 32px !important;
        }
      }
    }
  }