@import "../../sass/mixins/mixins";
.topAligned {
  top: 35%;
  left: 12.7%;
  @include for-size(phone) {
    top: 28%;
    left: 4%;
  }
}
.bottomAligned {
  bottom: 35%;
  right: 12.7%;
  @include for-size(phone) {
    bottom: 28%;
    right: 4%;
  }
}
.headerImage {
  @include dimensions(100%, 567.5px);
  @media only screen and (min-width: 1300px) {
    @include dimensions(100%, 750px);
  }
  position: relative;
  .imageContainer {
    @include dimensions(100%, 100%);
    img {
      @include dimensions(100%, 100%);
      object-fit: cover;
    }
    .gradientOverlayBottomRight {
      &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        @include dimensions(100%, 100%);
        content: "";
        background: linear-gradient(
          to bottom right,
          transparent 50%,
          rgba(var(--mainForegroundColor), 0.8) 50%
        );
      }
    }
    .gradientOverlayTopLeft {
      &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        @include dimensions(100%, 100%);
        content: "";
        background: linear-gradient(
          to top left,
          transparent 50%,
          rgba(var(--mainForegroundColor), 0.8) 50%
        );
      }
    }
  }
  .headerTitle {
    position: absolute;
    color: var(--mainText);
    h1 {
      letter-spacing: 4px;
      font-weight: 400 !important;
      @media only screen and (max-width: 950px) {
        font-size: 48px !important;
      }
      @media only screen and (max-width: 500px) {
        font-size: 36px !important;
      }
      @media only screen and (max-width: 350px) {
        font-size: 24px !important;
      }
    }
  }
}
