@import "../../sass/mixins/mixins";
.headerBackgroundImage {
  @include dimensions(100%, 567.5px);
  @media only screen and (min-width: 1300px) {
    @include dimensions(100%, 850px);
  }
  position: relative;
  .headerTitle {
    position: absolute;
    bottom: 35%;
    right: 12.7%;
    color: var(--mainText);
    @include for-size(phone) {
      bottom: 28%;
    }
    h1 {
      letter-spacing: 4px;
      font-weight: 400 !important;
      @include for-size(phone) {
        font-size: 32px !important;
      }
    }
  }
}
.portfolio {
  background: linear-gradient(
      to bottom right,
      transparent 50%,
      rgba(var(--mainForegroundColor), 0.8) 50%
    ),
    url("../../assets/images/Home/pic3-SanAnselmo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.services {
  background: linear-gradient(
      to bottom right,
      transparent 50%,
      rgba(var(--mainForegroundColor), 0.8) 50%
    ),
    url("../../assets/images/Header/Services_Whole.png");
  background-repeat: no-repeat;
  background-size: cover;
}
