.projectContainer {
    @include dimensions(33.33%, 535px);
    @include flex(row, center, flex-start);
    flex-basis: 33.33%;
    padding-top: 4%;
    @media only screen and (max-width: 1250px) {
      flex-basis: 50%;
    }
    @media only screen and (max-width: 905px) {
      width: 100%;
      height: 305px;
      object-fit: contain;
    }
    .project {
      @include dimensions(327px, 100%);
      position: relative;
      @media only screen and (max-width: 905px) {
        width: 100%;
        height: 305px;
      }
      img {
        @include dimensions(100%, 100%);
        display: flex;
        object-fit: cover;
        border-radius: 24px 2px;
      }
      caption {
        @include dimensions(100%, 13%);
        @include flex(column, center, center);
        position: absolute;
        bottom: 0;
        background-color: rgba(var(--subForegroundColor), 0.8);
        border-bottom-right-radius: 24px;
        @include for-size(phone) {
          height: 20%;
        }
        @media only screen and (max-width: 400px) {
          height: 25%;
        }
        h4 {
          color: var(--mainText);
        }
        p {
          color: var(--secondaryText);
        }
      }
    }
  }