@import "../../sass/mixins/mixins";
.projectContainer {
    @include dimensions(33.33%, 535px);
    @include flex(row, center, center);
    flex-basis: 50%;
    margin-top: 4%;
    @media only screen and (max-width: 905px) {
      height: 305px;
    }
    .project {
      @include dimensions(327px, 100%);
      position: relative;
      cursor: pointer;
      @media only screen and (max-width: 905px) {
        margin: 0% 3%;
        height: 305px;
      }
      img {
        @include dimensions(100%, 100%);
        display: flex;
        object-fit: cover;
        border-radius: 24px 2px;
        cursor: pointer;
      }
      div {
        @include dimensions(100%, 13%);
        @include flex(column, center, center);
        position: absolute;
        bottom: 0;
        background-color: rgba(var(--subForegroundColor), 0.8);
        border-bottom-right-radius: 24px;
        @include for-size(phone) {
          height: 20%;
        }
        @media only screen and (max-width: 400px) {
          height: 25%;
        }
        h4 {
          color: var(--mainText);
        }
        p {
          color: var(--secondaryText);
        }
      }
    }
  }