@import "../../sass/mixins/mixins";

.whoWeAreContainer {
  @include dimensions(100%, auto);
  @include flex(column, flex-start, flex-start);
  background-image: url("../../assets/images/Home/Background.png");

  .meetTheBossWrapper {
    @include dimensions(100%, 650px);
    @include flex(row, flex-start, flex-start);
    margin-top: 8%;
    background-color: rgba(var(--mainForegroundColor), 1);
    @media only screen and (max-width: 1100px) {
      flex-direction: column;
      height: auto;
    }
    .meetImage {
      @include dimensions(60%, 100%);
      object-fit: contain;
      @media only screen and (max-width: 1500px) {
        flex: 1;
      }
      @media only screen and (max-width: 1100px) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .meetTheBossTextWrapper {
      @include dimensions(40%, auto);
      @include flex(column, flex-start, center);
      color: var(--secondaryText);
      @media only screen and (max-width: 1500px) {
        flex: 2;
      }
      @media only screen and (max-width: 1100px) {
        width: 100%;
      }
      .meetTheBossText {
        @include flex(column, flex-start, flex-start);
        margin: 5% 6% 2% 6%;
        h3 {
          font-weight: 400;
          margin-bottom: 5%;
          color: var(--mainText);
          @media only screen and (max-width: 625px) {
            font-size: 32px;
          }
        }
        p {
          font-size: 18px;
          line-height: 22.5px;
          letter-spacing: 0.34px;
          white-space: pre-line;
        }
        hr {
          width: 404px;
          margin: 8% auto 6%;
          border-color: var(--secondaryText);
          @media only screen and (max-width: 500px) {
            width: 250px;
          }
        }
        .getToKnowPodcastWrapper {
          @include dimensions(100%, auto);
          @include flex(row, flex-start, flex-start);
          @media only screen and (max-width: 600px) {
            @include flex(column, flex-start, flex-start);
          }
          .getToKnow {
            @include dimensions(60%, auto);
            @media only screen and (max-width: 600px) {
                width: 80%;
              }
            h4 {
              margin-bottom: 2%;
            }
            p {
              width: 90%;
            }
          }
          .getToKnowButton {
            @include flex(row, center, center);
            margin: 3% 7%;
            @media only screen and (max-width: 600px) {
                margin: 3% 0%;
              }
          }
        }
      }
    }
  }
  .questionsCallContainer {
    @include dimensions(100%, 344px);
    @include flex(column, center, flex-start);
    position: relative;
    .serviceQuestionsWrapper {
      @include dimensions(60%, 144px);
      @include flex(row, flex-start, center);
      position: absolute;
      right: 0;
      top: auto;
      bottom: auto;
      background-color: rgba(var(--subForegroundColor), 1);
      border-radius: 1px 0px 0px 16px;
      @media only screen and (max-width: 1000px) {
        width: 75%;
      }
      @include for-size(phone) {
        width: 85%;
        @include flex(column, center, flex-start);
        padding-left: 30px;
        padding-right: 30px;
      }
      @media only screen and (max-width: 600px) {
        width: 95%;
      }
      .servicesCallToAction {
        font-family: "Gilroy-Bold", Tahoma, Verdana, sans-serif;
        margin: 0% 7%;
        word-spacing: 0.7px;
        @include for-size(phone) {
          margin: 0 0 20px 0;
        }
        span {
          color: var(--mainText);
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.3px;
          font-weight: 400;
        }
        p {
          color: var(--secondaryText);
        }
      }
    }
  }
}
