.button {
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 1px 3px 8px 0px #000000 25%;
  &:focus {
    outline: 0;
  }
}

.primaryButton {
  // #CE4634
  border: 2px solid var(--accent1);
  background: rgba(var(--subForegroundColor), 1);
  color: var(--mainText);
}
.secondaryButton {
  border: 2px solid var(--mainText);
  color: var(--mainText);
  background: rgba(var(--mainBackgroundColor), 1);
}
.gradientButton {
  background: linear-gradient(
      to top,
      rgba(206, 54, 52, 0.84),
      rgba(206, 54, 52, 0.84),
      rgba(219, 94, 74, 0.83),
      rgba(255, 182, 96, 0.8)
    ),
    linear-gradient(to bottom, #ffffff, #ffffff);
}
