.button {
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 1px 3px 8px 0px #000000 25%;
  &:focus {
    outline: 0;
}

.primaryButton {
  // #CE4634
  border: 2px solid var(--accent1);

  background: rgba(var(--subForegroundColor), 1);
  color: var(--mainText);

  }
}
