@import "../../sass/mixins/mixins";

.partnersContainer {
  @include dimensions(100%, auto);
  @include flex(column, flex-start, flex-start);
  background-image: url("../../assets/images/Home/Background.png");
  .whoWeWorkWithWrapper,
  .bikeFriendsWrapper {
    @include dimensions(100%, auto);
    @include flex(column, flex-start, flex-start);
    .whoWeWorkWithHeader,
    .bikeFriendsHeader {
      h4 {
        color: var(--mainText);
        font-family: "Skia", Helvetica, sans-serif;
        font-size: 48px;
        line-height: 57.6px;
        letter-spacing: 2px;
        font-weight: 400;
      }
    }
  }
}
