@import "../../sass/mixins/mixins";

.servicesContainer{
    @include dimensions(100%, auto);
    @include flex(column, flex-start, flex-start);
    background-image: url("../../assets/images/Home/Background.png");
    .servicesGrid {
        @include dimensions(100%, auto);
        @include flex(row, flex-start,flex-start);
        background-color: rgba(var(--mainBackgroundColor), 1);
        flex-wrap: wrap;
        padding: 0px 99px 0px 99px;
        padding-bottom: 4%;
        @include for-size(phone) {
            @include flex(column, center, center);
            padding: 0;
          }
    }
    // .questionsCallContainer {
    //     @include dimensions(100%, 15%);
    // }
}