@import "../../sass/mixins/mixins";

.servicesContainer{
    @include dimensions(100%, auto);
    @include flex(column, flex-start, flex-start);
    background-image: url("../../assets/images/Home/Background.png");
    .servicesGrid {
        @include dimensions(100%, auto);
        @include flex(row, flex-start,flex-start);
        background-color: rgba(var(--mainBackgroundColor), 1);
        flex-wrap: wrap;
        padding: 0px 99px 0px 99px;
        padding-bottom: 4%;
        @include for-size(phone) {
            @include flex(column, center, center);
            padding: 0;
          }
    }
    .questionsCallContainer {
        @include dimensions(100%, 300px);
        @include flex(row, center, center);
        position: relative;
        @include for-size(phone){
            height: 400px;
        }
        .serviceQuestionsWrapper{
            @include dimensions(70%, 80%);
            @include flex(row, flex-start, center);
            align-items: center;
            border-radius: 24px 0px 0px 2px;
            background: rgba(var(--mainForegroundColor), 1);
            position: absolute;
            right: 0;
            @include for-size(phone){
                @include flex(column, center, flex-start);
                width: 95%;
            }
            button {
                @include for-size(phone) {
                    margin-left: 6%;
                    margin-top: 4%;
                }
            }
            .servicesCallToAction{
                @include dimensions(60%, auto);
                @include flex(column, center, flex-start);
                margin: 0% 6%;
                color: var(--secondaryText);
                @include for-size(phone) {
                    width: 100%;
                    margin: 0;
                    padding-left: 6%;
                }
                h3 {
                    margin: 2% 0%;
                    font-size: 48px;
                    letter-spacing: 0.34px;
                    line-height: 57.6px;
                    @include for-size(phone){
                        font-size: 36px;
                        margin: 0% 0% 5% 0%;
                    }
                }
                p {
                    width: 80%;
                }
            }
        }
    }
}