.footerContainer {
  background-color: rgba(var(--mainBackgroundColor), 1);
  width: 100%;
  height: 538px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 153px;
  padding: 128px 0 16px;
}

.footerContent {
  width: 100%;
  height: 226px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 48px;
}
.subFooter {
  color: var(--secondaryText);
  width: 444px;
  height: 17px;
  flex-grow: 0;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.34px;
  text-align: left;
}

/* Business Information CSS */
.businessInformation {
  display: flex;
  flex-direction: column;
  width: 240px;
  color: var(--secondaryText);
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.34px;
}

.businessInformation ul .servingMarin {
  width: 300px;
  margin-bottom: 28px;
}
.businessInformation ul .basedIn {
  margin-top: 24px;
}

.businessInformation ul .image {
  height: 31px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
}
.phoneImage,
.emailImage {
  width: 18.4px;
  height: 20.1px;
  margin-top: auto;
  margin-bottom: auto;
  flex-grow: 0;
}
.imageMargin {
  margin-top: 24px;
}
/* =========================== */

/* Links */

.footerLinks {
  color: var(--secondaryText);
  width: 471px;
  height: 199px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 56px;
}

.footerNav {
  width: 79px;
  height: 140px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.footerNav li a,
.footerContent li a {
  color: var(--secondaryText);
  text-decoration: none;
}
.footerInteract {
  width: 125px;
  height: 140px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0;
}
.footerSocials {
  width: 155px;
  height: 199px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0;
}
.socialImage {
  width: 44px;
  height: 44px;
  flex-grow: 0;
}
