@import "../../sass/mixins/mixins";

.homeContainer {
  @include flex(column, flex-start, flex-start);
  @include dimensions(100%, 2237px);
  background-image: url("../../assets/images/Background.png");
  section {
    margin-bottom: 96px;
  }
  img {
    object-fit: cover;
  }
  .homeHero {
    @include dimensions(100%, 763px);
    position: relative;
    .homePictureOne {
      @include dimensions(100%, 763px);
    }
    .homePictureOneBanner {
      position: absolute;
      left: 0;
      bottom: 7%;
      @include dimensions(800px, 391px);
      border-top-right-radius: 25px;
      background-color: rgba(var(--mainBackgroundColor), 0.9);
      .homePictureOneContent {
        color: var(--mainText);
        padding: 48px 24px 0px 48px;
        @include dimensions(100%, 100%);
        @include flex(column, flex-start, flex-start);
        .homePictureOneBlurb {
          @include dimensions(600px, 100px);
          margin-top: 8px;
          margin-bottom: 20px;
          letter-spacing: 1.1px;
          color: var(--secondaryText);
          span {
            font-family: "Gilroy-Bold";
          }
        }
      }
    }
  }
  .homeHeroTwo,
  .homeHeroThree {
    @include dimensions(100%, 593px);
    position: relative;
    .homePictureTwo,
    .homePictureThree {
      @include dimensions(100%, 593px);
    }
    .homePictureTwoBanner,
    .homePictureThreeBanner {
      @include dimensions(400px, 100%);
      @include flex(column, center, center);
      position: absolute;
      background-color: rgba(var(--subForegroundColor), 0.8);
      top: 0;
      bottom: 0;
      right: 7%;
      h4 {
        color: var(--mainText);
        margin-bottom: 43px;
      }
      p:not(:last-child) {
        color: var(--secondaryText);
        margin-bottom: 28px;
      }
      p:nth-child(4n) {
        margin-bottom: 78px;
      }
    }
    .homePictureThreeBanner {
      svg {
        margin-bottom: 48px;
      }
      :last-child {
          margin-top: 32px;
      }
    }
  }
}
