@import "../../sass/mixins/mixins";

.homeContainer {
  @include flex(column, flex-start, flex-start);
  @include dimensions(100%, 2237px);
  background-image: url("../../assets/images/Background.png");
  section {
    margin-bottom: 96px;
  }
  img {
    object-fit: cover;
  }
  .homeHero {
    @include dimensions(100%, 763px);
    position: relative;
    .homePictureOne {
      @include dimensions(100%, 763px);
    }
    .homePictureOneBanner{
        position: absolute;
        left: 0;
        bottom: 7%;
        @include dimensions(751px, 391px);
        @include flex(column, flex-start, flex-start);
        background-color: rgba(var(--mainBackgroundColor), 0.9);
    }
  }
  .homeHeroTwo, .homeHeroThree {
    @include dimensions(100%, 593px);
    .homePictureTwo, .homePictureThree {
      @include dimensions(100%, 593px);
    }
  }
}
