@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  @mixin dimensions($width, $height) {
    width: $width;
    height: $height;
  }