@import "../../../sass/mixins/mixins";

.mobileFooterContainer {
  @include flex(column, flex-start, flex-start);
  @include dimensions(100%, 676px);
  color: var(--secondaryText);
  background-color: rgba(var(--mainBackgroundColor), 1);
  padding: 24px;
  padding-top: 48px;
  nav,
  aside {
    height: calc(100% - 1.5rem);
    margin-bottom: 1.5rem;
  }
}
.mobileFooterNav {
  @include flex(row, space-between, flex-start);
  @include dimensions(100%, 284px);
  ul li a {
    color: var(--secondaryText);
  }
  .footerLinks {
    @include flex(column, flex-start, flex-start);
    @include dimensions(152px, 284px);
    padding: 0;
    li:not(:last-child) {
      height: calc(100% - 16px);
      margin-bottom: 16px;
    }
  }
}

.mobileAside {
  @include flex(column, flex-start, flex-start);
  @include dimensions(100%, 242px);
  button, div:not(:last-child) {
    height: calc(100% - 16px);
    margin-bottom: 16px;
  }
}
.mobileCopyright {
  font-size: 14px;
  margin-top: 36px;
  font-weight: 300;
  width: 100%;
}
