@import "../../../sass/mixins/mixins";

.mobileFooterContainer {
  @include flex(column, flex-start, flex-start);
  @include dimensions(100%, auto);
  position: relative;
  font-size: 16px;
  color: var(--mainText);
  background-color: rgba(var(--mainBackgroundColor), 1);
  padding: 48px 24px 24px;
  nav {
    height: calc(100% - 1.5rem);
    margin-bottom: 2rem;
  }
}
.mobileFooterNav {
  @include flex(row, space-between, flex-start);
  @include dimensions(100%, 284px);
  ul li a {
    color: var(--mainText);
  }
  .footerLinks {
    @include flex(column, flex-start, flex-start);
    @include dimensions(152px, auto);
    padding: 0;
    li:not(:last-child) {
      height: calc(100% - 16px);
      margin-bottom: 16px;
    }
  }
  .mobileFooterSocials {
    @include dimensions(155px, auto);
    @include flex(column, flex-start, center);
    li:not(:last-child) {
      height: calc(100% - 16px);
      margin-bottom: 16px;
      p {
        font-size: 18px;
        @media only screen and (max-width: 350px) {
          text-align: center;
        }
      }
    }
  }
}

.mobileAside {
  @include flex(column, flex-start, flex-start);
  @include dimensions(100%, auto);
  a,
  div:not(:last-child) {
    height: calc(100% - 16px);
    margin-bottom: 1.5rem;
  }
  a {
    @include flex(row, flex-start, center);
    width: 135px;
    span {
      @include flex(row, center, center);
      img {
        @include dimensions(18.4px, 20.1px);
        align-content: center;
        margin-right: 8px;
      }
    }
  }
}
.mobileCopyright {
  font-family: "Gilroy-Bold", sans-serif;
  color: var(--secondaryText);
  margin-top: 36px;
  margin-bottom: 24px;
  width: 100%;
  p {
    font-size: 13px;
  }
}
