@import "../../../sass/mixins/mixins";

.mobileFooterContainer {
  @include flex(column, flex-start, flex-start);
  @include dimensions(100%, 700px);
  position: relative;
  color: var(--mainText);
  background-color: rgba(var(--mainBackgroundColor), 1);
  padding: 48px 24px 24px;
  nav {
    height: calc(100% - 1.5rem);
    margin-bottom: 1.5rem;
  }
}
.mobileFooterNav {
  @include flex(row, space-between, flex-start);
  @include dimensions(100%, 284px);
  ul li a {
    color: var(--mainText);
  }
  .footerLinks {
    @include flex(column, flex-start, flex-start);
    @include dimensions(152px, 284px);
    padding: 0;
    li:not(:last-child) {
      height: calc(100% - 16px);
      margin-bottom: 16px;
    }
  }
}

.mobileAside {
  @include flex(column, flex-start, flex-start);
  @include dimensions(100%, 242px);
  button, div:not(:last-child) {
    height: calc(100% - 16px);
    margin-bottom: 16px;
  }
  button span {
    @include flex(row, center, center);
    img {
      @include dimensions(18.4px, 20.1px);
      align-content: center;
      margin-right: 8px;
    }
  }
}
.mobileCopyright {
  font-family: "Gilroy-Bold", sans-serif;
  color: var(--secondaryText);
  font-size: 14px;
  margin-top: 36px;
  width: 100%;
}
