// TODO abstract.
.dropMenuInactive,
.footerLinks .footerNav a,
.footerLinks .footerInteract a,
.mobileFooterNav .footerLinks li a {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    right: 0;
    background: linear-gradient(
        to right,
        rgba(206, 54, 52, 0.84),
        rgba(206, 54, 52, 0.84),
        rgba(219, 94, 74, 0.83),
        rgba(255, 182, 96, 0.8)
      ),
      linear-gradient(to bottom, #ffffff, #ffffff);
    visibility: hidden;
    transition: all 0.35s ease-in-out;
  }
  &:hover::before {
    visibility: visible;
    width: 100%;
  }
  &:active::before {
    visibility: visible;
    background: #ce4634;
    width: 100%;
  }
}
.dropMenuActive {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    background: #ce4634;
  }
}
.rotateArrow {
  transform: rotate(180deg);
}
