@import "../../sass/mixins/mixins";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
// CSS for react-image .imageGallery
.image-gallery-thumbnail {
  width: 120px;
  margin: 0% 1% 0% 1%;
}
.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}
.image-gallery-left-nav,
.image-gallery-right-nav {
  color: var(--accent1);
  &:hover {
    color: var(--accent1);
  }
}
.image-gallery-slides {
  margin-bottom: 1%;
}
.portfolioContainer {
  @include dimensions(100%, auto);
  background-image: url("../../assets/images/Home/Background.png");
  .projectGrid {
    @include dimensions(100%, auto);
    @include flex(row, flex-start, flex-start);
    background-color: rgba(var(--mainBackgroundColor), 1);
    padding: 0px 99px 0px 99px;
    flex-wrap: wrap;
    padding-bottom: 4%;
    @include for-size(phone) {
      flex-direction: column;
      padding: 64px 28px 64px 20px;
    }
  }
  .imageGalleryWrapper {
    background-color: rgba(var(--mainBackgroundColor), 1);
    padding: 3% 0 5.5%;
    .imageGallery {
      @include dimensions(100%, 100%);
      @include flex(column, flex-start, flex-start);
      .displayedProjectName {
        @include dimensions(100%, 10%);
        @include flex(row, flex-start, center);
        color: var(--mainText);
        margin-bottom: 3%;
        margin-left: 18.5%;
        @include for-size(phone) {
          margin-left: 5%;
        }
        button {
          background-color: transparent;
          background-repeat: no-repeat;
          border: none;
          cursor: pointer;
          overflow: hidden;
          transform: rotate(90deg);
          img {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }
        h4 {
          font-size: 48px;
          font-family: "Skia", Courier, monospace;
          letter-spacing: 0.45px;
          font-weight: 400;
          line-height: 57.6px;
          margin-left: 20px;
        }
      }
      .imageGalleryContent {
        @include dimensions(100%, 100%);
        @include flex(row, flex-start, flex-start);
        .projectColumn {
          @include dimensions(25%, 100%);
          @include flex(column, flex-start, center);
          @include for-size(phone) {
            visibility: hidden;
            position: absolute;
            width: 0%;
          }
        }
        .imageGalleryDisplay {
          @include dimensions(75%, 80%);
          @include for-size(phone) {
            width: 100%;
          }
        }
      }
    }
  }
}
