@import "../../sass/mixins/mixins";

.portfolioContainer {
  @include dimensions(100%, 2500px);
  background-image: url("../../assets/images/Background.png");
  @include for-size(phone){
    height: auto;
  }
  .projectGrid {
    @include dimensions(100%, auto);
    @include flex(row, flex-start, flex-start);
    background-color: rgba(var(--mainBackgroundColor), 1);
    padding: 0px 99px 0px 99px;
    flex-wrap: wrap;
    padding-bottom: 4%;
    @include for-size(phone) {
      flex-direction: column;
      padding: 64px 28px 64px 20px;
    }
    .projectContainer {
      @include dimensions(33.33%, 535px);
      @include flex(row, center, flex-start);
      flex-basis: 33.33%;
      padding-top: 4%;
      @media only screen and (max-width: 1250px) {
        flex-basis: 50%;
      }
      @media only screen and (max-width: 900px) {
        width: 100%;
        height: 327px;
      }
      .project {
        @include dimensions(327px, 100%);
        position: relative;
        @include for-size(phone){
          width: 100%;
          height: auto;
        }
        img {
          @include dimensions(100%, 100%);
          display: flex;
          object-fit: cover;
          border-radius: 24px 2px;
        }
        caption {
          @include dimensions(100%, 13%);
          @include flex(column, center, center);
          position: absolute;
          bottom: 0;
          background-color: rgba(var(--subForegroundColor), 0.8);
          border-bottom-right-radius: 24px;
          @include for-size(phone) {
            height: 20%;
          }
          @media only screen and (max-width: 400px) {
            height: 25%;
          }
          h4 {
            color: var(--mainText);
          }
          p {
            color: var(--secondaryText);
          }
        }
      }
    }
  }
}
