@import "../../sass/mixins/mixins";

.navbarContainer {
  @include dimensions(100%, 84px);
  @include flex(row, space-between, flex-start);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(var(--mainBackgroundColor), 0.8);
  .nav-links {
    @include flex(column, center, flex-start);
    @include dimensions(650px, 100%);
    align-content: center;
    .navWrapper {
      @include flex(row, space-between, flex-start);
      @include dimensions(100%, min-content);
      .navDropdown {
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        li {
          position: relative;
          .menuOne {
              position: absolute;
              bottom: -100%;
          }
        }
        li button {
            background: none;
            border: none;
            padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--mainText);
          padding: 0 16px;
          font-family: "Gilroy-Bold", Courier, monospace;
          line-height: 1.11;
          letter-spacing: 0.54px;
          span {
            margin-left: 4px;
            img {
              @include dimensions(21px, 23px);
            }
          }
        }
      }
    }
    .contactUsButton {
      @include flex(row, center, center);
      align-content: center;
      margin-right: 8%;
    }
  }
}
