@import "../../sass/mixins/mixins";

.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(var(--mainBackgroundColor), 0.8);
    width: 100%;
    height: 84px;
}