@import "../../sass/mixins/mixins";
// Shared CSS elements between mobile and Navbar
.navbar {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(var(--mainBackgroundColor), 0.8);
}

.menuOne {
  @include dimensions(130px, 95px);
}
.menuTwo {
  @include dimensions(182px, 120px);
}
.menuThree {
  @include dimensions(150px, 95px);
}
.active {
  visibility: visible;
}
.inactive {
  visibility: hidden;
}

// Desktop CSS for Navbar.
.navbarContainer {
  @include dimensions(100%, 84px);
  @include flex(row, space-between, flex-start);
  .nav-links {
    @include flex(column, center, flex-start);
    @include dimensions(650px, 100%);
    align-content: center;
    .navWrapper {
      @include flex(row, space-between, center);
      @include dimensions(100%, min-content);
      .navDropdown {
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        li {
          position: relative;
          .menu {
            @include flex(column, center, flex-start);
            background-color: rgba(var(--mainBackgroundColor), 0.8);
            position: absolute;
            border-bottom-left-radius: 6px;
            top: 55px;
            a {
              padding: 3px 6px;
              margin: 0px 8px;
              color: var(--mainText);
              border-left: 1px solid #6b6b6b;
            }
          }
        }
        li button {
          background: none;
          border: none;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--mainText);
          padding: 0 16px;
          font-family: "Gilroy-Bold", Courier, monospace;
          line-height: 1.11;
          letter-spacing: 0.54px;
          span {
            margin-left: 4px;
            img {
              @include dimensions(24px, 24px);
            }
          }
        }
      }
    }
    .contactUsButton {
      @include flex(row, center, center);
      align-content: center;
      margin-right: 8%;
    }
  }
}

.mobileNavbarContainer {
  @include dimensions(100%, 96px);
  @include flex(column, flex-start, flex-start);
  .mobileNavbarTopWrapper {
    @include dimensions(100%, 44px);
    @include flex(row, space-between, space-between);
    flex: auto;
    .brand-logo-wrapper {
      @include dimensions(100%, 100%);
      @include flex(row, center, center);
      align-items: center;
      .brand-logo {
        margin: 10px;
        @include flex(row, flex-start, flex-start);
        @include dimensions(100px, 100px);
      }
    }
    .contactUsButton {
      @include dimensions(100%, 100%);
      @include flex(row, flex-end, center);
      margin-right: 2%;
    }
  }
  .mobileNavbarBottomWrapper {
    @include dimensions(100%, min-content);
    @include flex(row, space-between, space-between);
    .mobileDropdownWrapper {
      @include dimensions(100%, min-content);
      @include flex(row, space-around, center);
      li {
        position: relative;
        .menu {
          @include flex(column, center, flex-start);
          background-color: rgba(var(--mainBackgroundColor), 0.8);
          position: absolute;
          border-bottom-left-radius: 6px;
          top: 27px;
          a {
            padding: 3px 6px;
            margin: 0px 8px;
            color: var(--mainText);
            border-left: 1px solid #6b6b6b;
          }
        }
      }
      li button {
        white-space: nowrap;
        background: none;
        border: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--mainText);
        padding: 0 0px;
        font-family: "Gilroy-Bold", Courier, monospace;
        line-height: 1.11;
        letter-spacing: 0.54px;
        span {
          margin-left: 0px;
          img {
            @include dimensions(24px, 24px);
          }
        }
      }
    }
  }
}
