@import "../../sass/mixins/mixins";
.serviceContainer {
  @include dimensions(33.33%, 535px);
  @include flex(row, center, flex-start);
  flex-basis: 33.33%;
  padding-top: 4%;
  &:first-child {
    opacity: 0;
    @media only screen and (max-width: 800px){
      position: absolute;
    }
  }
  @media only screen and (max-width: 1250px) {
    flex-basis: 50%;
  }
  @media only screen and (max-width: 905px) {
    width: 100%;
    height: 535px;
    object-fit: contain;
  }
  .service {
    @include dimensions(327px, 100%);
    position: relative;
    @media only screen and (max-width: 905px) {
      width: 100%;
      height: 535px;
    }
    img {
      @include dimensions(100%, 100%);
      display: flex;
      object-fit: cover;
      border-radius: 24px 2px;
    }
    .miniServiceCaption {
      @include dimensions(100%, 13%);
      @include flex(column, center, center);
      position: absolute;
      bottom: 0;
      background-color: rgba(var(--subForegroundColor), 0.8);
      border-bottom-right-radius: 24px;
      @include for-size(phone) {
        height: 15%;
      }
      @media only screen and (max-width: 400px) {
        height: 15%;
      }
      h4 {
        color: var(--mainText);
        text-align: center;
      }
    }
    .fullScreenCaption {
      @include dimensions(100%, 94%);
      @include flex(column, flex-start, center);
      background-color: rgba(var(--mainForegroundColor), 0.8);
      border-bottom-right-radius: 24px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: var(--mainText);
      h4 {
        margin: 8% 0%;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 2%;
        text-align: center;
      }
      .serviceTextContent {
        margin: 0% 5%;
        p {
          font-size: 18px;
          text-align: left;
          line-height: 22.5px;
          letter-spacing: 0.34px;
        }
      }
    }
  }
}

.hidden {
  visibility: hidden;
  position: absolute;
}
.textLineBreak{
  white-space: pre-line;
}